@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.metropoliBg-80{
  background-color:rgba(241, 241, 241, 0.90);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.text-40 {
  font-size: 40px;
  line-height: 48px;
}

.text-gradient {
  background: linear-gradient(90deg, #091934 0%, #1C6EF6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.highlight.in-view {
  background-color: yellow;
  color: black;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rounded-gradient {
  border: 10px solid;
  background: radial-gradient(40% 40% at 50% 50%, #082555 41%, #1C6EF6 80%);
}